<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>React App</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="container"></div>
  <script type="text/babel">
    const UserContext = React.createContext(null);
    const UserInfo = () => {
      const user = React.useContext(UserContext);
      return (<div>{user ? 'Logged in as ' + user.name : 'Anonymous'}</div>)
    }
    const App = () => {
      const [user, setUser] = React.useState(null);
      return (
        <UserContext.Provider value={user}>
          <div className="box">
            <button onClick={e => setUser({ name: 'Piotrek' })}>Log me in</button>
            <UserInfo />
          </div>
        </UserContext.Provider>
      );
    }
    ReactDOM.render(
      <App />,
      document.querySelector("#container")
    );
  </script>
</body>

</html>

<!-- import React, { useState, useReducer, useContext, createContext } from "react";

// initial state
const initialState = { user: null };

// create context
const StateContext = createContext({
  user: null,
  dispatch: f => f
});

// auth reducer
// using ... spread operator to spread state values
// and return new state based on action payload
const authReducer = (state, action) => {
  switch (action.type) {
    case "LOGIN":
      return {
        ...state,
        user: action.payload
      };
    case "LOGOUT":
      return {
        ...state,
        user: null
      };
    default:
      return state;
  }
};

// context provider / App component
const App = () => {
  const [state, dispatch] = useReducer(authReducer, initialState);

  return (
    <StateContext.Provider value={{ state, dispatch }}>
      <Login />
    </StateContext.Provider>
  );
};

// context consumer component
const Login = () => {
  // destructure state and dispatch from context
  const { state, dispatch } = useContext(StateContext);
  const [name, setName] = useState("");

  const handleSubmit = e => {
    e.preventDefault();
    dispatch({ type: "LOGIN", payload: name });
  };

  const handleLogout = () => {
    dispatch({ type: "LOGOUT" });
    setName("");
  };

  return (
    <div>
      Current user: {state.user ? state.user : "null"}
      <form onSubmit={handleSubmit}>
        <input
          type="text"
          value={name}
          onChange={e => setName(e.target.value)}
        />
      </form>
      <br />
      {state.user && <button onClick={handleLogout}>Logout</button>}
    </div>
  );
};

export default App; -->